.u-design-box{
	width: 100%;
	max-width: 800px;
	margin: 2em auto;
}
.u-design-box .row{ overflow: hidden; }
.u-design-box .row>.lab{ float: left; }
.upfilebox2 {
	width: 100px;
	display: block;
	margin: 0;
	position: relative;
	cursor: pointer;
}
.upfilebox2 input {
	width: 100px;
	height: 30px;
	position: relative;
	z-index: 9;
	opacity: 0;
}
.upfilebox2 label {
	position: absolute;
	background: #2E8DEA;
	display: inline-block;
	color: #fff;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	top: 0px;
	left: 0px;
}
.u-design-box .sub{ width: 120px; }
